<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/contact-form.css">
    <link rel="stylesheet" href="css/main.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>

</head>
<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a href="/">Shop</a></li>
                <li class="main-header__item"><a href="/admin/add-product">Add Product</a></li>
                <li class="main-header__item"><a class="active" href="/contact">Contact Us</a></li>
            </ul>
        </nav>
    </header>
    <!-- <div><img src="./assets/customer-service.svg" alt="company name" width="60px"></div> -->
    <div class = "contact-form">
        <form  action="/success">
            <label>First Name</label>
            <input type="text" name="firstname" placeholder="FirstName" required>
            <br>
            <label>Last Name</label>
            <input type="text" name="lastname" placeholder="LastName" required>
            <br>
            <label>Phone No.</label>
            <input type="tel" maxlength="10" name="phone" placeholder="Phone no." required>
            <br>
            <label>Email ID</label>
            <input type="email" name="email" placeholder="Email id">
            <br>
            <button class="pushable">
                <span class="front">
                    Submit
                </span>
            </button>
        </form>
    </div>
</body>
</html>