<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shop</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a class="active" href="/">Shop</a></li>
                <li class="main-header__item"><a href="/admin/add-product">Add Product</a></li>
                <li class="main-header__item"><a href="/contact">Contact Us</a></li>
                <li class="main-header__item"><a href="/cart">Cart</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>My Products</h1>
        <p>List of all the products...</p>
        <ul id="productList"></ul>
    </main>
    <script>
        // Fetch product data from the API
        fetch('http://localhost:4000/products')
          .then(response => {
            if (!response.ok) {
              throw new Error(`HTTP error! Status: ${response.status}`);
            }
            return response.json();
          })
          .then(products => {
            // Update the UI with the product data
            const productList = document.getElementById('productList');
            products.forEach(product => {
              const listItem = document.createElement('li');
              listItem.innerHTML = `
                        <strong>${product.title}</strong>
                        <button onclick="redirectToProductDetails(${product.id})">View Details</button>
                        <button onclick="addTocart(${product.id})">Add to cart</button>
                `;
              productList.appendChild(listItem);
            });
          })
          .catch(error => {
            console.error('Error fetching product data:', error);
          });

        function redirectToProductDetails(productId) {
            // Assuming you have a product-details.html page
            window.location.href = `/products/${productId}`;
        }

        function addTocart(productId) {
            fetch(`http://localhost:4000/cart/add?productId=${productId}`, {method: 'POST'})
          .then(response => {
            if (!response.ok) {
              throw new Error(`HTTP error! Status: ${response.status}`);
            }
          })
        }

    </script>
</body>

</html>